<h1>Orders page</h1>

<div ng-repeat="order in orders">
	<p>{{order.invoice_id}}</p>
	<label>Order Type</label>
	<input ng-model="order.order_type"></input>
	<label>Paid</label>
	<input ng-model="order.paid"></input>
	<label>User Id</label>
	<input ng-model="order.user"></input>
	<label>Updated At</label>
	<input ng-model="order.updated_at"></input>
	<p>Created At: {{order.created_at}}</p>
	<label>All Items</label>
	<div ng-repeat="item in order.all_items">
	<!-- {{item}} -->
		<input ng-model="item.name"></input>
	</div>
	<label>Total</label>
	<input ng-model="order.total"></input>
	<label>Promo Code</label>
	<input ng-model="order.promo_code"></input>
	<button ng-click="updateOrder(order)">Update</button>
</div>