<h1>Orders</h1>

<div id="orders" ng-repeat="order in orders">
	<h3>Invoice Number: {{order.invoice_id}}</h3>
	<p><h4>User Email:</h4> {{order.user.email}}</p>
	<p><h4>Created At:</h4> {{order.created_at}}</p>
	<p><h4>Updated At:</h4>{{order.updated_at}}</p>
	<p><h4>Promo Code:</h4> {{order.promo_code.code}}</p>
	<p><h4>Order Type:</h4>{{order.order_type}}</p>

	<label>Paid</label>
	<input class="form-control" ng-model="order.paid"></input>

	<label>Total</label>
	<input class="form-control" ng-model="order.total"></input>

	<h4>All Items</h4>
	<div ng-repeat="item in order.all_items">
		<h4>Item</h4>
		<p><h4>Art:</h4>{{item.art.name}}</p>
		<p><h4>Price:</h4>{{item.art.price | currency}}</p>
		<p><h4>Cart Quantity:</h4>{{item.quantity}}</p>
		<button class="btn btn-warning" ng-click="decrementItem(item, order.all_items)">Decrement</button>
		<button class="btn btn-warning" ng-click="incrementItem(item, order.all_items)">Increment</button>
	</div>
	<button class="btn btn-primary" style="margin-top:10px;" ng-click="updateOrder(order)">Update</button>
	<hr>
</div>