<h1>Promos</h1>

<div>
	<h2>New Promo Code</h2>
	<form name="promoForm" ng-submit="promoForm.$valid && addPromoCode(newPromo)">
		<label>Promo Code</label>
		<input ng-model="newPromo.code"></input>
		<label>Type</label>
		<input ng-model="newPromo.promo_type"></input>
		<label>Expires</label>
		<input ng-model="newPromo.exp_date"></input>
		<label>Category</label>
		<input ng-model="newPromo.category_id"></input>
		<label>Art</label>
		<input ng-model="newPromo.art_id"></input>
		<button type="submit" class="btn btn-default">Submit</button>
		<div>{{promo.updated}}</div>
	</form>
</div>

<hr>
<h2>Current Promotions</h2>
<div ng-repeat="promo in promos">
	<label>Promo Code</label>
	<input ng-model="promo.code"></input>
	<label>Type</label>
	<input ng-model="promo.promo_type"></input>
	<label>Expires</label>
	<p>{{promo.exp_date | date : 'short'}}</p>
	<input ng-model="promo.exp_date"></input>
	<label>Category</label>
	<input ng-model="promo.category_id"></input>
	<label>Art</label>
	<input ng-model="promo.art_id"></input>
	<p>Created At: {{promo.creation_date | date : 'short'}}</p>
	<button ng-click="updatePromo(promo)">Update</button>
	<button ng-click="deletePromo(promo)">Delete</button>
	<div>{{promo.updated}}</div>
</div>
