#admin {
	hr {
		border: 0;
    	height: 2px;
    	background: #333;
    	background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}
	ul {
			list-style-type: none;
	}
	img {
		width: 80%;
		margin: 0 auto;
		padding: 20px 0;
	}
	#adminInfo {
		border: solid 2px;
		text-align: center;
		background: 
	}
	.searchbar {
		margin: 40px;
	}
	#users {
		ul {
			list-style-type: none;
		}
		li {
			margin: 10px 0;
		}
		button {
			margin: 0 10px;
			width: 125px;
		}
	}
	#artwork {
		li {
			margin: 10px;
		}
		input {
		}
		label {
		}
		button {
			margin: 10px;
		}
	}
	#reviews {
		@include clearfix;
		button {
			margin: 10px;
		}
	}
	#events {
		button {
			margin: 10px;
		}
		input {
		}
	}
	#orders {
		font-size: 16px;
	}
	#promos {
		form{
			width: 50%;
			color: #880000;
			opacity: 0.75;
			margin: 0px auto;
		}
		.currentForm{
			width: 50%;
			color: #880000;
			opacity: 0.75;
			margin: 0px auto;
		}
		button {
			margin: 10px 5px;
		}
		input {
		}
	}
	.productUnavailable{
		opacity: 0.1;
	}
}