.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img .portfolio {
	margin: 0 auto; 
	height: 305px;
}

.artistHeader {
	font-family: 'Open Sans Condensed', sans-serif;
}