<section id="cart">
	<div>
		<div>
		<pre>{{cart}}</pre>
			<div ng-repeat="item in cart.all_items">
				<img class="thumbnail" ng-src="{{item.art.url}}" ng-show="item.art.url" />
				<p>Name: {{item.art.name}}</p>
				<p>Price: {{item.art.price | currency}}</p>
				<input ng-model="item.quantity" />
				<pre>{{item}}</pre>
				<button ng-click="editItem(cart._id, item._id, item.quantity, $index)">Update Quantity</button>
				<button ng-click="removeItem(cart._id, item.art._id, $index)">Remove</button>
				<hr>
			</div>
			<p>Order type: {{ cart.order_type}}</p>
            <br>
            <p><h3>Subtotal ({{cart.subQuantity}} item):</h3> {{ cart.subtotal | currency }}</p>
		</div>
		<button ui-sref="checkout" >Place Order</button>
	</div>
</section>