<div class="row">

    <div class="col-md-6">
        <div ng-show="contacts">
            <h2>Shipping Address</h2>
            {{contacts.first_name}} {{contacts.last_name}}<br>
            <span>{{contacts.address_line_1}}<br></span>
            <span ng-show="contacts.address_line_2">{{contacts.address_line_2}}<br></span>
            {{contacts.city}}, {{contacts.state}} {{contacts.zip}}
        </div>
        <div ng-hide="contacts">
            <a href='' ng-click="open('lg', 'New Shipping Address')">Add Shipping Address</a>
        </div>
        <div ng-show="contacts">
            <a href='' ng-click="open('lg', 'New Shipping Address')">Change Shipping Address</a>
        </div>
        <h2>Payment</h2>
        <form name="cardForm" ng-submit="cardForm.$valid && sendCardInfo(card)">
            <div class="form-group col-lg-10 col-md-10 col-sm-10 col-centered">
                <label for="cctype">Type</label>
                <select ng-model="card.type" id="cctype" required><option ng-repeat="creditCard in creditCards">{{creditCard}}</option></select>
            </div>
            <div class="form-group col-lg-10 col-md-10 col-sm-10 col-centered">
                <label for="name">Full Name</label>
                <input type="text" id="name" class="form-control" placeholder="Enter full name" ng-model="card.name" required>
            </div>

            <div class="form-group col-lg-10 col-md-10 col-sm-10 col-centered">
                <label for="ccNumber">Card Number</label>
                <input type="number" name="ccNumber" class="form-control" placeholder="XXXX XXXX XXXX XXXX" ng-model="card.number" required ng-minlength="16" ng-maxlength="16" >
                <p ng-show="cardForm.number.$error.minlength">Too short!</p>
                <p ng-show="cardForm.number.$error.maxlength">Too Long!</p>
            </div>

            <div class="form-group col-lg-10 col-md-10 col-sm-10 col-centered">
                <label for="security">Security Code</label>
                <input type="text" id="security" name="ccv" class="form-control" placeholder="CCV" ng-model="card.ccv" ng-minlength="3" ng-maxlength="3" required>
                <p ng-show="addressForm.ccv.$invalid && !addressForm.ccv.$pristine">CCV is required!</p>
            </div>

            <div class="form-group col-lg-10 col-md-10 col-sm-10 col-centered">
                <label>Expiration Date</label>
                <select ng-model="card.month" required><option ng-repeat="month in months">{{month}}</option></select>
                <select ng-model="card.year" required><option ng-repeat="year in years">{{year}}</option></select>
            </div>
        </form>
        <div>

        </div>
        <h3>Promo Code</h3>
        <input type="text" id="promocode" name="promocode" class="form-control" placeholder="promo code" ng-model="card.promo">
        <h3>Subtotal: <span>{{}}</span></h3>
        <button>Place Order</button>
    </div>

    <div class="col-md-6">
        <h2>Review Order</h2>
        <div>
            <div id="cart" class="row" ng-repeat="item in cart.all_items">
                <div class="col-md-3">
                    <img class="thumbnail" ng-src="{{item.art.url}}" ng-show="item.art.url" />
                </div>
                <div class="col-md-7">
                    <p>
                        <span>Name: {{item.art.name}}<br></span>
                        <span>Price: {{item.art.price | currency}}<br></span>
                        <span>Quantity: {{item.quantity}}<br></span>
                    </p>

                </div>

            </div>
        </div>
    </div>

</div>