.productImgContainer{
	text-align: center;
	margin: 0 auto;
	//position:relative;
}

.productImage{
	float: left;

	//position:absolute;
	display:inline-block;
	img{
		width: 200px;
		margin-left: 35px;
	}

	p{

	}


}

.productUnavailable{
	opacity: 0.5;
}

// .search-bar {
// 	width: 50%
// }
