.productImgContainer{
	text-align: center;
	margin: 0 auto;
	//position:relative;
}

.productImage{
	display: inline-block;
	width: 200px;
	height: 200px;
}


.productUnavailable{
	opacity: 0.1;
}

// .search-bar {
// 	width: 50%
// }