* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'prof/main';
@import 'customer/main';
@import 'artist/main';
@import 'product/main';
@import 'shopping/main';